
/* 
    Created on : 11/11/2015, 10:12:53 PM
    Author     : Luis david sicua 
*/

#banner{
  width: 1500px;
  height: 500px;
  padding: 0px
}

#login-dp{
    min-width: 280px;
    padding: 10px 10px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);
}
#login-dp .help-block{
    font-size:10px;
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp #social-botones{
    margin:10px 0 20px 65px ;
    
}
#login-dp #social-botones a{
    width: 100%;
    display: inline;
    box-shadow: -3px 3px 7px  #000;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc 
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}

.btn-gg{
    color: #fff;
    background-color:#CC3326;
}
.btn-gg:hover{
    color: #fff;
    background-color: #F73A38;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

#text-social{
  color: #3b5998;
}

